.movie-card {
  /* background-color: #D9D9D9; */
  background-color: #00000008;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.movie-card .ant-card-meta-title {
  font-weight: bold;
}
