h1,
p {
  font-family: Calibri, sans-serif;
}
h1 {
  margin-bottom: 1%;
  margin-top: 1%;

}

.userpage-content {
  margin-left: 3%;
  margin-right: 5%;
}

.userpage-content-col {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

